.footer{
    background-color: #383c43;
    height: 100px;
}

.footer > .row h3{
    color: #fff;
    font-size: 25px;
    padding-left: 200px;
    padding-top: 50px;
}

.footer > .row li{
    color: #fff;
    list-style-type: none;
    padding-left: 200px;
    padding-bottom: 15px;
}

.contact{
    padding-left: 400px;
    color: #fff;
}

.sections{
    color: #fff;
    list-style-type: none;
    padding-left: 200px;
    padding-top: 30px;
    font-size: 17px;
}

.footer > .sections li{
    padding-bottom: 10px;
}

.footer p{
    color: #fff;
    text-align: center;
    padding-top: 60px;
}